@import url('http://weloveiconfonts.com/api/?family=brandico');


#Intro{
background-color: #ed1b24;
}

#mainlogo{
display:none;
height:40%;
width:40%;
}

#SquishStigma{
font-size:5vw;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #FFFFFF;
text-align: center;
opacity:0;
}

#header{
    position:fixed;
    display:none;
    color: #FFFFFF;
    width:100%;
    height:30px;
    background:#FFFFFF;
    z-index:9;
}

#header:hover{
    opacity:1;
    transition: transform 0.5s ease-in-out;
}

#miniLogo{
width:4vw;
height:30px;
}

.section{
    background:#000000;
}

#section3{
    background-image:url("cricket_bg.png");
    background-size: cover;
    background-attachment: fixed;
}

    
    /* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section4 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section4{
		overflow: hidden;
	}

#section5{
    background-image:url("handshake.jpg");
    background-size:cover;
    background-attachment:fixed;
}

    #section2{
        background:#F1781B;
    }

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size:15px;
  display:block;
  margin-top:-13px;
  margin-left:4px;
}

a.social-buttons.brandico-facebook::before{
    margin-left:10px;
}

a.social-buttons {
  width:30px;
  height:30px;
  border-radius: 50px;
  text-decoration: none;
  line-height: 60px;
  color: white;
  float:right;
  transition: transform 0.5s ease-in-out;
  font-family: 'brandico', sans-serif;
  margin-left:10px;

}

a.brandico-twitter-bird {
  background-color: #4099FF;
}

a.brandico-facebook {
  background-color: #3B5998;
}

a.social-buttons:hover {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  opacity:1;
}

h1{
    text-align:center;
    display:block;
    color:#FFFFFF;
    font-size:5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity:0;
}

p{
    color:#FFFFFF;
    font-size:2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:none;
    text-align:center;
}

#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: cover;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}
    
    #cricketFloursLogo{
width:40%;
    }
    
    .center{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width:100vw;
    }
    
    
    #teampic{
        width:35%;
    }
    
    .about{
        display:block; 
        font-size:3.2vh;
        margin:3%;
        margin-top:1%;
        opacity:0;
    }