#Intro{
background-color: #ed1b24;
}

#mainlogo{
display:none;
height:40%;
width:40%;
}

#SquishStigma{
font-size:5vw;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #FFFFFF;
text-align: center;
opacity:0;
}

#header{
    position:fixed;
    display:none;
    color: #FFFFFF;
    width:100%;
    height: 5vh;
    background:#FFFFFF;
    z-index:9;
}

#header:hover{
    opacity:1;
    transition: transform 0.5s ease-in-out;
}

#miniLogo{height: 5vh;}

.section{
    background:#000000;
}

#section3{
    background-image:url("cricket_bg.png");
    background-size: cover;
    background-attachment: fixed;
}

    
    /* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section4 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section4{
		overflow: hidden;
	}

#section5{
    background-image:url("handshake.jpg");
    background-size:cover;
    background-attachment:fixed;
}

#section2{
    background-image:url("umd.jpg");
    background-size:cover;
    background-attachment:fixed;
}

.mediabutton{
    width:5vh;
    float:right;
    margin-left:1vh;
    margin-right:1vh;
      transition: transform 0.5s ease-in-out;

}

.mediabutton:hover{
   animation: mymove 1s;
         transition: transform 0.5s ease-in-out;

}


@keyframes mymove {
    100% {transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);}
}

h1{
    text-align:center;
    display:block;
    color:#FFFFFF;
    font-size:10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity:0;
}

p{
    color:#FFFFFF;
    font-size:4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:none;
    text-align:center;
    margin:5%;
}

#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: cover;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}
    
    #cricketFloursLogo{
height:20vh;
    }
    
    .center{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width:100vw;
    }
    
    
    #teampic{
        height:50vh;
    }
    
    #eip{
        height:15vh;
    }
    
    #dgc{
        height:15vh;
        margin-right:10%;
    }
    
    .about{
        display:block; 
        font-size:3vh;
        font-size-adjust: inherit;
        margin:3%;
        margin-left:15%;
        margin-right:15%;
        margin-top:1%;
        opacity:0;
    }