@import url('http://weloveiconfonts.com/api/?family=brandico');


#Intro{
background-color: #ed1b24;
}

#mainlogo{
display:block;
margin:auto;
height:30%;
width:30%;
-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 3s; /* Firefox < 16 */
-ms-animation: fadein 3s; /* Internet Explorer */
-o-animation: fadein 3s; /* Opera < 12.1 */
animation: fadein 3s; 
}
/* Safari, Chrome and Opera > 12.1 */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes delayedFade{
0% {opacity:0;}
60% {opacity:0;}
100% {opacity:100;}
}

@keyframes headerFade{
0% {opacity:0;}
60% {opacity:0;}
100% {opacity:0.7;}
}

#SquishStigma{
font-size:5vw;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #FFFFFF;
text-align: center;
animation-name:delayedFade;
animation-duration:3s;
}

#header{
    position:fixed;
    display:block;
    color: #FFFFFF;
    width:100%;
    height:30px;
    background:#FFFFFF;
    z-index:9;
    animation-name:headerFade;
    animation-duration:3s;
    opacity:0.7;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#header:hover{
    opacity:1;
    transition: transform 0.5s ease-in-out;
}

#miniLogo{
width:4vw;
height:30px;
}

.section{
    background:#000000;
}

#section2{
    background-image:url("cricket_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#section4{
  background:#7BAABE;
}

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  font-size:15px;
  display:block;
  margin-top:-13px;
  margin-left:4px;
}

a.social-buttons.brandico-facebook::before{
    margin-left:10px;
}

a.social-buttons {
  width:30px;
  height:30px;
  border-radius: 50px;
  text-decoration: none;
  line-height: 60px;
  color: white;
  float:right;
  transition: transform 0.5s ease-in-out;
  font-family: 'brandico', sans-serif;
  margin-left:10px;

}

a.brandico-twitter-bird {
  background-color: #4099FF;
}

a.brandico-facebook {
  background-color: #3B5998;
}

a.social-buttons:hover {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  opacity:1;
}

h1{
    text-align:center;
    display:block;
    color:#FFFFFF;
    font-size:5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:none;
}

p{
    color:#FFFFFF;
    font-size:2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:none;
    text-align:center;
}

#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: cover;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}
    
    /* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section3 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section3{
		overflow: hidden;
	}